version: 2.1
jobs:
  test:
    docker:
      - image: cimg/node:18.10-browsers
        auth:
          username: $DOCKER_HUB_USERNAME
          password: $DOCKER_HUB_ACCESS_TOKEN
    working_directory: ~/app
    steps:
      - checkout
      - restore_cache:
          keys:
            - node18-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - node18-deps-{{ .Branch }}
            - node18-deps
      - run:
          name: Create Download Directory
          command: mkdir ~/app/build/downloads && chmod 0777 ~/app/build/downloads
      - run:
          name: Install Dependencies
          command: yarn install --ignore-engines --frozen-lockfile --prod
      - save_cache:
          key: node18-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache
      - run: yarn lint
      - run: yarn tsc
      - run: yarn test:testingbot-all
      # - run: yarn test:testingbot-chrome
      # - run: yarn test:testingbot-edge
      - store_test_results:
          path: ~/app/build
      - store_artifacts:
          path: ~/app/build
      - slack/status:
          fail_only: true
          only_for_branches: main
          webhook: ${SLACK_WEBHOOK_ERROR}
      - slack/status:
          fail_only: false
          only_for_branches: main
          webhook: ${SLACK_WEBHOOK_SUCCESS}

workflows:
  version: 2
  commit:
    jobs:
      - test:
          context:
            - docker-hub-creds
  scheduled:
    triggers:
      - schedule:
          cron: "0 * * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - test:
          context:
            - docker-hub-creds

orbs:
  slack: circleci/slack@3.4.2
