version: 2.1
jobs:
  test:
    resource_class: large
    docker:
      - image: cimg/node:20.17-browsers
        auth:
          username: $DOCKER_HUB_USERNAME
          password: $DOCKER_HUB_ACCESS_TOKEN
    working_directory: ~/app
    steps:
      - checkout
      - restore_cache:
          keys:
            - node20-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - node20-deps-{{ .Branch }}
            - node20-deps
      - run:
          name: Create Download Directory
          command: mkdir ~/app/build/downloads && chmod 0777 ~/app/build/downloads
      - run:
          name: Install Dependencies
          command: yarn install --ignore-engines --frozen-lockfile --prod
      - save_cache:
          key: node20-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache
      - run: yarn lint
      - run: yarn tsc
      - run: yarn test:testingbot-all
      # - run: yarn test:testingbot-chrome
      # - run: yarn test:testingbot-edge
      - store_test_results:
          path: ~/app/build
      - store_artifacts:
          path: ~/app/build
      - slack/status:
          fail_only: true
          only_for_branches: main
          webhook: ${SLACK_WEBHOOK_ERROR}
      - slack/status:
          fail_only: false
          only_for_branches: main
          webhook: ${SLACK_WEBHOOK_SUCCESS}

workflows:
  commit:
    jobs:
      - test:
          context:
            - docker-hub-creds
  scheduled:
    triggers:
      - schedule:
#          Job generally takes between 11 and 15 minutes to run, so we can run every 15 without running twice at once.
#          Although if it does run twice at once AFAIK that wouldn't cause any problem.
          cron: "0,15,30,45 9,10,11,12,13,14,15,16,17 * * *" # Every 15 minutes. CircleCI doesn't support /15 syntax
          filters:
            branches:
              only:
                - main
      - schedule:
          # Overnight we don't need to run jobs so often, we're mostly not looking at results, so just run a few times overnight
          # Ideally we'd only run tests after we've changed code but that's harder to automate.
          cron: "0 18,19,20,0,6 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - test:
          context:
            - docker-hub-creds

orbs:
  slack: circleci/slack@3.4.2
